.title {
    font-size: 14pt;
    color: #ffffff;
    margin-top: 15px;
}

.ms-panel {
    border-radius: 0px;
}

.ms-footer {
    background-color: #d6d6c2;
    padding: 5px;
    text-align: center;
}

. {
    margin: 0px;
    padding: 0px;
}

.menu {
    border-radius: 0px;
    margin-top: -20px;
    background-color: #e580ff;
    color: #ffffff;
}

.txt-menu {
    color: #ffffff;
    margin-right: 5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: #e580ff;
}

.dropdown-menu {
    background-color: #e580ff;
    color: #ffffff;
}

.dropdown-menu > li > a {
    color: #ffffff;
}

.path-menu {
    margin-bottom: 0px;
    border-radius: 0px;
    margin-top: -20px;
    margin-bottom: 5px;
}

.btn-ms {
    border-radius: 0px;
}

.check-ms {
    margin-bottom: 0px;
}

