<ol class="breadcrumb path-menu">
    <li><a href="#">{{ 'HOME' | translate }}</a></li>
    <li class="active">{{ 'MUSIC' | translate }}</li>
</ol>
<div style="background: #feffff;">
    <div class="panel panel-default ms-panel">
        <div class="panel-heading">{{ 'MUSIC_TITLE' | translate }}</div>
        <div class="panel-body">
            <div class="pull-left">
                <md-select placeholder="{{ 'MUSIC_TYPE' | translate }}" ng-model="music_type.TYPE" md-on-open="loadMusicType()"
                           style="min-width: 250px; margin: 0px;" ng-change="filterMusic()">
                    <md-option ng-value="type.ID" ng-repeat="type in music_types">{{type.NAME}}</md-option>
                </md-select>
            </div>
            <div class="pull-right">
                <button class="btn btn-danger btn-sm btn-ms"
                        ng-click="showConfirmDel($event,0,'Do you want delete all music ?',1)"><span
                        class="glyphicon glyphicon-remove"></span> {{ 'DEL_ALL' | translate }}
                </button>
                <button class="btn btn-primary btn-sm btn-ms" ng-click="showMusicTypeModal($event)"><span
                        class="glyphicon glyphicon-headphones"></span> {{ 'NEW_MUSIC_TYPE' | translate }}
                </button>
                <button class="btn btn-primary btn-sm btn-ms" ng-click="openMusicModal($event,'New')"><span
                        class="glyphicon glyphicon-plus"></span> {{ 'ADD_MUSIC' | translate }}
                </button>
            </div>
        </div>
        <table class="table table-hover">
            <thead style="background-color: #b3b3b3">
            <tr>
                <th style="width: 50px;">
                    <md-checkbox aria-label="Select All" class="check-ms"
                                 ng-click="checkAll()" ng-checked="isCheckAll()"></md-checkbox>
                </th>
                <th>{{ 'ID' | translate }}</th>
                <th>{{ 'MUSIC_NAME' | translate }}</th>
                <th>{{ 'AUTHOR' | translate }}</th>
                <th>{{ 'MUSIC_TYPE' | translate }}</th>
                <th>{{ 'ACTION' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="music in musics">
                <td>
                    <md-checkbox aria-label="Select All" class="check-ms"
                                 ng-checked="existsCheck(music.ID,checkedMusics)"
                                 ng-click="check(music.ID,checkedMusics)"></md-checkbox>
                </td>
                <td ng-bind="music.ID"></td>
                <td ng-bind="music.NAME"></td>
                <td ng-bind="music.AUTHOR"></td>
                <td ng-bind="music.NAME_TYPE"></td>
                <td>
                    <a href="#" ng-click="openMusicModal($event,'Edit',music.ID)"><span
                            class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                    <a href="#"><span class="glyphicon glyphicon-trash"
                                      ng-click="showConfirmDel($event,music.ID,'Do you want delete music ?',0)"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>