<md-dialog aria-label="Music"  ng-cloak >
    <form style="width: 500px;" name="musicForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4> {{action}} Music</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-svg-src="app/images/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>ID</label>
                    <input ng-model="music.ID" type="number" disabled>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Music name</label>
                    <input ng-model="music.NAME" type="text" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Author</label>
                    <input ng-model="music.AUTHOR" type="text" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Music Type</label>
                    <md-select ng-model="music.TYPE">
                        <md-option ng-value="type.ID" ng-repeat="type in music_types">{{ type.NAME }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()" style="margin-right:20px;" md-no-ink class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="save()" md-no-ink class="md-primary" ng-disabled="musicForm.$invalid">
                Save
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>